@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500i,900,900i'); 
* , body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}
h1 {
    font-size: 55px;
}
h2{
    font-size:40px;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 20px 0px;
}
a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%;
}
section{
    width: 100%;
    padding-top: 50px;
}
.flex-container{
    display: flex;
    width: 90%;
    align-items: center;
    margin: 0 auto;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
    vertical-align: middle;
}
.brand-color{
    color: #0072ff;
}   
.btn-grad {
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
}
.btn-grad {
    margin-top: 20px;
    padding: 20px 30px;
    text-align: center;
    text-transform: normal;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 25px;
    display: inline-block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
    
/* Header Menu Section Start */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #11B2FB;
}
header h4{
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: rgb(60 58 58);
}
header .brand-color{
    color: white;
}
header ul{
    list-style-type: none;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  padding: 0px 20px;
}

.nav-links li a {
  font-size: 18px;
  color: white;
  transition: color 0.3s ease 0s;
}

.nav-links li a:hover {
  opacity: 0.5;
}

.contact-btn {
    font-size: 18px;
    padding: 9px 25px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .contact-btn:hover {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
  }

/* Header Menu Section Start */

/* ----------------------------- */

/* About Section Start */
.about-bg {
    background-image: url("assets/shapes/about-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#about img{
    width: 60%;
}
/* About Section End */

/* ----------------------------- */

/* Food Section Start */
#foods .section-heading{
    text-align: center;
    color: rgb(47, 47, 47);
}
#foods .sub-heading{
    text-align: center;
    opacity: 0.7;
    width: 50%;
    margin:20px auto;
}
#foods .flex-container{
    gap: 5%;
}
#foods ul{
    list-style-type: none;
}
#foods .flex-item{
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
#foods img{
    border-radius: 15px;
}
#foods .food-title{
    font-size: 28px;
    margin-top: 25px;
    color: #2f2e2e;
}
#foods .food-desc{
    opacity: 0.8;
    letter-spacing: 1px;
}

#foods .social-fan{
    gap: 3%;
    text-align: center;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    padding: 50px 10px;
}
#foods .social-fan div{
    width: 33%;
}
.social-fan h1{
    font-size: 50px;
    margin-bottom: 5px;
}
.social-name:hover span {display:none;}
.social-name:hover:before {content:"Click to Follow"; color:blue;}

/* Food Section End */


/* Footer Section Start */

footer{
    background-color: black;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
}
footer h4{
    color: gray;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
}
footer p{
    margin-top: 30px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    opacity: 0.7;
}





