* , body{
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 55px;
}
p{
    font-size: 25px;
    margin: 20px 0px;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
section{
    width: 100%;
}
.flex-container{
    display: flex;
    width: 90%;
    align-items: center;
    margin: 0 auto;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
    vertical-align: middle;
}
.brand-color{
    color: coral;
}   
.btn-grad {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)
}
.btn-grad {
    margin-top: 20px;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 25px;
    display: inline-block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
    
/* Header Section Start */


/* Header Section Start */

/* ----------------------------- */

/* About Section Start */
.about-bg {
    background-image: url("assets/shapes/about-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#about img{
    width: 60%;
}


